body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 14px;
  color: #CFCFCF;
  background: #000000 url(../images/wrapper-bg.jpg) repeat;
}

h1, h2, h3 {
  margin: 0px;
  padding:  0px;
  font-family: 'Arvo', serif;
  font-weight: 400;
  color: #424242;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul {
  margin-top: 0;
  line-height: 180%;
}
a {
	text-decoration: none;
	color: #9C9A9A;
}
a:hover {
	text-decoration: underline;
}

/* header */

#header-wrapper {
	height: 240px;
	margin-bottom: 30px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

#front-header {
	width: 980px;
	height: 80px;
	margin: 0px auto;
	padding: 100px 0px 0px 0px;
	color: #7FA72C;
}

#front-header h1 {
	letter-spacing: -5px;
	text-align: center;
	font-size: 70px;
	color: #7FA72C;
}

#front-header p {
	margin-top: -20px;
	text-align: center;
	font-family: 'Arvo', serif;
  font-weight: 200;
	font-size: 23px;
}

/* menu */

#menu-wrapper {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
	color: #000000;
}

#menu {
	margin: 0;
	padding: 0px 20px;
	list-style: none;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 20px;
	font-weight: normal;
	color: #C6E973;
}

#menu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#menu a {
	display: block;
	margin: 0px;
	padding: 0px;
	color: #C6E973;
}

#menu a:hover {
	border-radius: 5px;
	background: #7BA01C;
	text-decoration: none;
	color: #FFFFFF;
}

#menu span {
	margin: 0px;
	padding: 0px 20px;
}
/* photos */

#three-column {
	overflow: hidden;
	width: 980px;
	margin: 20px auto;
}

#three-column #column1 {
	float: left;
	width: 300px;
	margin-right: 40px;
}

#three-column #column2 {
	float: left;
	width: 300px;
}

#three-column #column3 {
	float: right;
	width: 300px;
}
